#Neet_Adaptive{ 
    background-image: url("../../../public/Blue_Minimalist_Abstract_Phone_Wallpaper.svg");
    background-position: center; 
    background-size: cover;
}
#Neet_Avatar{
    background-image: url("../../../public/Neet_avatar.png");
    background-position: center; 
    background-size: cover;
}